<StackLayout>
    <ActionBar>
        <StackLayout orientation="horizontal"
            ios:horizontalAlignment="center"
            android:horizontalAlignment="left">
            <Image src="~/images/skills/{{collectionTitle}}.png" width="30"></Image>
        </StackLayout>
    </ActionBar>

    <ScrollView height="100%">

        <StackLayout>

            <AbsoluteLayout id="header">
                <Label text="{{collectionTitle | titleReplace}}" id="pageTitle" left="0" top="7"></Label>
                <Label text="Hive of knowledges" id="pageSubTitle" left="0" top="7"></Label>
            </AbsoluteLayout>

            <StackLayout *ngFor="let item of collection" class="absolutCategories">
                <Label [text]='item.title.rendered' textWrap="true" class="memoTitle"></Label>
                <Label [text]='item.acf.description' textWrap="true" class="memoDesc"></Label>
                <Label text='Exemple :' textWrap="true" class="memoSubTitle"></Label>
                <Label [text]='item.acf.exemple | codeReplace' textWrap="true" class="memoEx"></Label>
                <AbsoluteLayout>
                    <Label text="Plus d'infos" left="0" (tap)="getUrl(item.acf.link)" class="memoLink"></Label>
                </AbsoluteLayout>
                <Label text="" class="myHr"></Label>
            </StackLayout>

        </StackLayout>

    </ScrollView>

    
</StackLayout>
