<StackLayout>
    
    <ActionBar title="">
        <StackLayout orientation="horizontal"
            ios:horizontalAlignment="center"
            android:horizontalAlignment="left">
            <Image src="~/images/logo.png" width="30"></Image>
        </StackLayout>
    </ActionBar>

    <ScrollView height="100%">

        <StackLayout>
            <AbsoluteLayout id="header">
                <Label text="Choisir une catégorie" id="pageTitle" left="0" top="7"></Label>
                <Label text="Hive of knowledge" id="pageSubTitle" left="0" top="7"></Label>
            </AbsoluteLayout>

            <AbsoluteLayout *ngFor="let item of collection" class="absolutCategories" (tap)="getPage(item.slug)">
                <Label [text]='item.name' left="60" top="15" class="absolutCategoriesItem"></Label>
                <Image src="~/images/skills/{{item.slug}}.png" width="50" left="0" class="ropundedImg"></Image>
            </AbsoluteLayout>

        </StackLayout>

    </ScrollView>

</StackLayout>