<StackLayout>
    <!--<ActionBar title="Dashboard">
        <StackLayout orientation="horizontal"
            ios:horizontalAlignment="center"
            android:horizontalAlignment="left">
        </StackLayout>
    </ActionBar>-->

    <ScrollView height="100%">

        <StackLayout>
            <AbsoluteLayout id="header">
                <Image src="~/images/logo.png" width="55" left="315"></Image>
                <Label text="Choisir une catégorie" id="pageTitle" left="0"></Label>
                <Label text="Hive of knowledges" id="pageSubTitle" left="0"></Label>
            </AbsoluteLayout>

            <AbsoluteLayout *ngFor="let item of collection" class="absolutCategories" (tap)="getPage(item.slug)">
                    <Label [text]='item.name' left="60" top="15" class="absolutCategoriesItem"></Label>
                    <Image src="~/images/skills/{{item.slug}}.png" width="50" left="0" class="ropundedImg"></Image>
                    <Label text="" top="50" class="myHr"></Label>
            </AbsoluteLayout>

        </StackLayout>

    </ScrollView>

    
</StackLayout>
