@import url("~/platform.css");

/*
ActionBar
*/
ActionBar {
    color: 000066;
}




/*
Header
*/
#header{
  margin-top: 20;
}

#pageTitle{
  font-weight: bold;
  font-size: 22;
  text-transform: uppercase;
  color: #333399;
  margin: 15 0 0 10;
}

#pageSubTitle{
  font-size: 11;
  text-transform: uppercase;
  color: #0269e1;
  margin: 0 0 10 10;
}




/*
Dashboard
*/

.absolutCategories{
  margin: 10;
}

.absolutCategoriesItem{
  color: #333399;
  font-weight: bold;
}

.myHr{
  height: 1;
  width: 100%;
  background-color: #333399;
  margin-bottom: 20;
}



/*
Memo Pages
*/
.memoTitle{
  font-size: 18;
  background-color: #333399;
  color: white;
  padding: 10 0 10 10;
  margin: 10 0;
}

.memoSubTitle{
  font-weight: bold;
  color: #0269e1;
  margin: 10 0;
}

.memoDesc{
  margin-bottom: 10;
}

.memoEx{
  font-size: 13;
  background-color: #eee;
  padding: 10;
  margin-bottom: 10;
}

.memoLink{
  font-size: 10;
  text-transform: uppercase;
  color: white;
  padding: 5;
  width: 90;
  background-color: #cc3333;
  font-weight: bold;
  margin-bottom: 20;
}